[submodule "thirdparty/TouchVGCore"]
	path = thirdparty/TouchVGCore
	url = http://git.oschina.net/rhcad/TouchVGCore.git
[submodule "thirdparty/SVGKit"]
	path = thirdparty/SVGKit
	url = https://github.com/SVGKit/SVGKit.git
