build
*.ncb
*.opt
*.suo
*.user
*.aps
*.obj
*.*sdf
ipch
CppDepend*
*.cdproj
*.ch*
*.hh*
*.o
*.d
*.tmp
*_wrap.cxx
*~
*.DS_Store
xcuserdata
xcshareddata
._*
.metadata
bin
gen
obj
gdb.setup
gdbserver
ios/output
*.db
